# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/comp0034-deferredassessment.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/php.xml
.idea/vcs.xml
